<div class="d-flex justify-content-between mt-3">
  <div>
    <p>Wirksame Patientenverfügung</p>
  </div>
  <div>
    <button type="button" class="btn btn-link"><%= link_to "Anmelden", new_user_session_path %></button>
    <a href="/patientenverfuegung/new"><button type="button" class="btn btn-primary">Jetzt erstellen</button></a>
  </div>
</div>
